html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
}

img {
    border: 0;
    display: inline-block;
}

figure {
    margin: 0;
}

.wrapper {
    width: 100%;
}

/**** Carousel styling ****/
.carousel-container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.carousel-inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.carousel-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    display: inline-block;
    top: 0;
}

.carousel-item.moveOutLeft,
.carousel-item.moveOutRight {
    top: 0;
}

.carousel-item.moveOutLeft {
    left: -100%;
}

.carousel-item.moveOutRight {
    left: 100%;
}

.carousel-item {
    top: -1000%;
    left: -1000%;
}

.carousel-item.is-active {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.disabled {
    opacity: .2;
}

/**** Carousel indicator ****/
.carousel-indicators {
    width: 50%;
    padding: 0;
    margin: 0 0 0 -25%;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 555;
    text-align: center;
}

.carousel-indicators li {
    border-radius: 50%;
    background: rgba(255, 255, 255, .6);
    display: inline-block;
    list-style: none;
    width: 10px;
    height: 10px;
    margin-left: 5px;

    -webkit-box-shadow: inset 0px 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.carousel-indicators li.is-active {
    background: rgba(240, 130, 130, .6);
}

.carousel-indicators a {
    text-decoration: none;
    text-indent: -9999px;
}

/**** Carousel control buttons ****/
.prev-btn,
.next-btn,
.play-btn {
    position: absolute;
    text-indent: -9999px;
    transition: opacity .3s linear;
}

.prev-btn,
.next-btn {
    width: 50px;
    height: 63px;
    top: 50%;
    margin-top: -31.5px;
    z-index: 9999;
}

.prev-btn {
    left: 0;
    background: url(../img/previous-btn.png) no-repeat;
}

.next-btn {
    right: 0;
    background: url(../img/next-btn.png) no-repeat;
}

.play-btn {
    width: 63px;
    height: 50px;
    left: 50%;
    margin-left: -31.5px;
    bottom: 0;
    transition: background .3s linear;
}

[data-autoplay-status="true"] .play-btn {
    background: url(../img/stop-btn.png) no-repeat;
}

[data-autoplay-status="false"] .play-btn {
    background: url(../img/play-btn.png) no-repeat;
}

.prev-btn:hover,
.next-btn:hover,
.play-btn:hover {
    opacity: .7;
}

/**** Animation classes ****/
.moveOutRight {
    -webkit-animation: moveOutRight .4s linear;
    animation: moveOutRight .4s linear;
}

.moveInRight {
    -webkit-animation: moveInRight .4s linear;
    animation: moveInRight .4s linear;
}

.moveInLeft {
    -webkit-animation: moveInLeft .4s linear;
    animation: moveInLeft .4s linear;
}

.moveOutLeft {
    -webkit-animation: moveOutLeft .4s linear;
    animation: moveOutLeft .4s linear;
}

/*******Slide out left animation*******/
@-webkit-keyframes moveOutLeft {
    0% {
        left: 0
    }
    100% {
        left: -100%;
    }
}

@keyframes moveOutLeft {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

/*******Slide in left animation*******/
@-webkit-keyframes moveInLeft {
    0% {
        left: 100%;
    }
    100% {
        left: 0
    }
}

@keyframes moveInLeft {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

/*******Slide out right animation*******/
@-webkit-keyframes moveOutRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes moveOutRight {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

/*******Slide in right animation*******/
@-webkit-keyframes moveInRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes moveInRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
